*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
}

body{
    background-image: url("../images/background.jpg");
    background-repeat: repeat;
    background-size: cover;
}

.home_page_icon{
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-left: 10px;
    float: right;
}

header h1{
    margin: auto;
    padding: 10px;
    margin-top: 10px;
    border-radius: 15px;
    height: 40px;
    background-color: beige;
    box-shadow: 0px 0px 15px wheat;
    width: 15%;
    font-size: 36px;
}

.contents{
    margin: auto;
    margin-top: 20px;
    width: 90%;
    height: 80%;
    padding: 10px;
    border: red 1px solid;
}

.personal_info{
    position: absolute;
    width: 20%;
    text-align: center;
    left: 0;
    padding: 10px;
    border: green 1px solid;
    left: 0;
    margin-top: 15px;
    box-shadow: 0 0 10px white;
    background-color: #C6EFEB;
}

.timetable{
    position: absolute;
    right: 0;
    width: 75%;
    text-align: center;
    right: 0;
    margin-top: 15px;
    border: yellow 1px solid;
}

.timetable table{
    margin: auto;
    background: white;
    width: 100%;
    padding: 0;
}

.contents h1{
    margin: 10px;
    margin-bottom: 20px;
    color: aquamarine;
}

td{
    border: black 1px solid;
    width: 50px;
    padding: 5px;
}

tr{
    height: 80px;
}

th{
    border: black 1px solid;
    width: 50px;
}

.personal_info ul{
    list-style: none;
}

.timetable h2{
    width: 400px;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 10px;
    box-shadow: 0 0 10px aliceblue;
    background-color: #C6EFEB;
    border-radius: 10px;
}
.timetable td[colspan="3"]{
    color: aqua;
    background: gray;
}
#CH{
    color: aqua;
    background: gray;
}

.personal_info p{
    padding: 10px;
    margin: 10px;
}


.personal_info h2{
    box-shadow: 0 0 10px aliceblue;
}

.mood_images{
    position: absolute;
    border: blue 1px solid;
}
