body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333;
}
.cardholder{
    width: 80%;
    height: 80%;
    margin-top: 50px;
    display: flex;
    position: relative;
    justify-content: space-between;
}
.cardholder .card{
    position: relative;

}
.cardholder .card .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}
.cardholder .card .face .face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.cardholder .card .face .face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
}